@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    transition: .3s ease-in-out;
}

body, h1, h2, h3, ul, li, p, button, input {
    margin: 0;
    padding: 0;
}

header {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.container {
    margin-bottom: 10px;
}

.container input[type="text"] {
    width: calc(100% - 90px);
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.container button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 8px;
}

.container button:hover {
    background-color: #0056b3;
}

#room {
    position: relative;
    display: none;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 20px;
}

#room .roomContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: top;
    margin: 48px 0;
}

#room #roomID {
    padding: 6px;
    border-radius: 3px;
    text-transform: uppercase;
    background-color: #f9f9f9;
    border: 1px solid #6e6e6e;
    margin-left: 3px;
}

#room h2 {
    margin-bottom: 10px;
}

#room section {
    margin-bottom: 20px;
}

#room section h3 {
    margin-bottom: 10px;
}

#room ul {
    list-style-type: none;
    padding: 0;
}

#room ul li {
    margin-bottom: 5px;
}

#room button {
    margin-top: 10px;
}

#room button#startGame {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #50ca45;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#room button#leaveRoom {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 10px 20px;
    background-color: #ca4545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#room button.kickUser {
    padding: 5px 10px;
    background-color: #ca4545;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#room button#startGame:hover, #teamSelection button#startGameButton:hover {
    background-color: #367929;
}

#room button.kickUser:hover, #room button#leaveRoom:hover {
    background-color: #792929;
}

/* Styles pour la section de sélection d'équipes */
#teamSelection {
    display: none;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 20px;
}

#teamSelection h3 {
    margin-bottom: 10px;
}

#teamSelection table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

#teamSelection table th, #teamSelection table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#teamSelection table th {
    background-color: #f0f0f0;
}

#teamSelection ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#teamSelection button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

#teamSelection button:hover {
    background-color: #0056b3;
}

#teamSelection button#startGameButton {
    margin: 32px auto 0 auto;
    background-color: #50ca45;
}

.rejoindreEquipe {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}